### Files I don't want shared
test.*
tst
SanchezRodriguezIgnasiP1.c

### Python test
*.py
*.pyc

### Backup ~ files. Should clean, but...
*~

### Latex auxiliary files. Again, I should clean them but...
*.aux
*.log
*.toc
*.idx
*.synctex.gz
